.login-container {
    height: 500px;
    width: 500px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.flex-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.arrow-img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-image: url("/assets/img/start-page/arrow-black.svg" );
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    &:hover {
    background-image: url("/assets/img/start-page/arrow-hover.svg" );    
    }
}

h1 {
    color: var(--purple1);
    font-size: 46px;
    margin: 15px 0;
    margin-bottom: 5px;
}

.info-text {
    margin: 0px 50px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 18px;
    width: 100%;
}

.name {
    width: 76%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid transparent;
    background-image: url("/assets/img/start-page/person.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid var(--purple1);
    }
}

.email {
    width: 76%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid transparent;
    background-image: url("/assets/img/start-page/mail.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid var(--purple1);
    }
}

.password {
    width: 76%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid var(--lighterPurple);
    background-image: url("/assets/img/start-page/lock.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid var(--purple1);
    }
}

.next-button {
    background-color: var(--purple1);
    border-radius: 25px;
    padding: 12px 25px 12px 25px;
    color: var(--bgColor);
    font-weight: 600;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 290px;
    cursor: pointer;
    border: 1px solid var(--purple1);
    &:hover {
        background-color: var(--purple2);
        border: 1px solid var(--purple2);
    }
}