.create-container {
    width: 550px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 56px;
    box-sizing: border-box;
    margin-top: 30px;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.arrow-img {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 28px;
    top: 75px;
    cursor: pointer;
    background-image: url("/assets/img/start-page/arrow-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover {
        background-image: url("/assets/img/start-page/arrow-hover.svg");
    }
}

h1 {
    color: var(--purple1);
    font-size: 46px;
    margin: 0 0 24px 0;
}

.info-text {
    font-size: 18px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 22px;
    width: 100%;
}

.color-privacy-policy {
    color: var(--purple2);
    cursor: pointer;
    border-radius: 18px;
    padding: 2px 6px;

    &:hover {
        background-color: var(--lighterPurple);
        color: var(--purple1);
        font-weight: 500;
    }
}

.center-box {
    display: flex;
    align-items: center;
}

.style-checkbox {
    border: 2px solid var(--purple2);
    position: relative;
    width: 14px;
    height: 13px;
    border-radius: 3px;
    margin-right: 5px;
}

#privacy-policy {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 17%;
    height: 15px;
    width: 15px;
    top: -4px;
    right: -3.762px;
    outline: none;
    border-style: none;

    &:focus {
        opacity: 1;
    }

    &:hover {
        background-color: var(--lightPurple);
    }
}

.name {
    width: 100%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid transparent;
    background-image: url("/assets/img/start-page/person.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:focus {
        border: 1px solid var(--purple1);
    }

    &::placeholder {
        font-size: 18px;
    }
}

.email {
    width: 100%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid transparent;
    background-image: url("/assets/img/start-page/mail.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:focus {
        border: 1px solid var(--purple1);
    }

    &::placeholder {
        font-size: 18px;
    }
}

.password {
    width: 100%;
    padding: 15px 10px;
    text-indent: 18%;
    font-size: 18px;
    background-color: var(--lighterPurple);
    border-radius: 100px;
    border: 1px solid var(--lighterPurple);
    background-image: url("/assets/img/start-page/lock.svg");
    background-repeat: no-repeat;
    background-position: 8% 50%;
    outline: none;

    &:focus {
        border: 1px solid var(--purple1);
    }

    &::placeholder {
        font-size: 18px;
    }
}

.next-button {
    background-color: var(--purple1);
    border-radius: 25px;
    padding: 12px 25px 12px 25px;
    color: var(--bgColor);
    font-weight: 600;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 290px;
    cursor: pointer;
    border: 1px solid var(--purple1);

    &:hover {
        background-color: var(--purple2);
        border: 1px solid var(--purple2);
    }
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.privacy-policy-content {
    padding: 80px 72px 72px 72px;
    border-radius: 30px;
    width: 60vw;
    height: 50vh;
    background-color: white;
    overflow: hidden auto;
    font-size: 20px;
    font-weight: 400;

    a {
        text-decoration: none;
        color: #1381FF;
    }
}

h1 {
    color: var(--purple1);
    font-size: 46px;
    font-weight: 700;
}

h2 {
    color: var(--purple1);
    font-size: 32px;
    font-weight: 700;
}

h3 {
    color: var(--purple1);
}

.arrow-image {
    position: fixed;
    width: 40px;
    height: 40px;
    background-image: url('/assets/img/general/arrow.svg');
    margin: 40px 0 0 56px;
    background-color: white;
    border-radius: 100%;

    &:hover {
        cursor: pointer;
        background-image: url('/assets/img/general/arrow-hover.svg');
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--purple2);
    border-radius: 10px;
}

@media (max-height: 800px) {
    .create-container {
        margin-bottom: 90px;
    }
}