<div class="d-flex">
    <div class="login-container">
        <h1>Anmeldung</h1>
        <p class="info-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</p>
        <form action="">
            <input type="email" class="email">
            <input type="password" class="password">
        </form>
        <p>Passwort vergessen</p>
        <p>ODER</p>
        <button>Anmelden mit Google</button>
        <div class="buttons">
            <button [routerLink]="['main-page']" class="login-button">Anmelden</button>
            <button class="guest-button">Gäste-Login</button>
        </div>
    </div>
</div>