<div class="d-flex">
    <div class="login-container">
        <h1>Anmeldung</h1>
        <p class="info-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</p>
        <form (ngSubmit)="login()" ngNativeValidate>
            <input required type="email" class="email" placeholder="beispielname@email.com" autocomplete="email" [(ngModel)]="email" name="email">
            <input required type="password" class="password" placeholder="Passwort" autocomplete="current-password" [(ngModel)]="password" name="password">
        <p class="forgot-password" (click)="toggleToResetPassword()">Passwort vergessen?</p>
        <div class="separator-box"><div class="separator"></div><span class="or">ODER</span><div class="separator"></div></div>
        <button class="loginGoogle">Anmelden mit Google</button>
        <div class="buttons">
            <button  class="login-button">Anmelden</button> 
            <button class="guest-button">Gäste-Login</button>
        </div>
        </form>
    </div>
</div>
<!-- [routerLink]="['main-page']" -->