header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
    width: 98dvw;
}

app-search-bar {
    width: 100%;
}

.head-logo {
    height: 70px;
    width: 240px;
    padding-right: 199px;
}

.user-container {
    height: 70px;
    margin-left: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    span {
        font-size: 32px;
        font-weight: 700;
        white-space: nowrap;
    }

    &:hover .arrow-img {
        background-image: url('../../../assets/img/main-page/head/arrow-blue.svg');
    }

    &:hover span {
        color: var(--purple2);
    }
}

.arrow-img {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/img/main-page/head/arrow-black.svg');
}

.profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}