header {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    width: 100%;
    gap: 6.5%;
}

.function-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4%;
}

.head-logo {
    height: 70px;
}

.user-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    span {
        font-size: 32px;
        font-weight: 700;
        white-space: nowrap;
    }

    &:hover .arrow-img {
        background-image: url('../../../assets/img/main-page/head/arrow-blue.svg');
    }

    &:hover span {
        color: var(--purple2);
    }
}

.arrow-img {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/img/main-page/head/arrow-black.svg');
}

.profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


// max-width
@media screen and (max-width: 1200px) {
    .user-container {
        height: 55px;
        gap: 10px;

        span {
            font-size: 28px;
        }
    }

    .arrow-img {
        width: 25px;
        height: 25px;
    }

    .profile-img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .head-logo {
        height: 65px;
    }

    header {
        gap: 3.5%;
    }
}

@media screen and (max-width: 900px) {
    .user-container {
        span {
            display: none;
        }
    }

    .arrow-img {
        display: none;
    }

    header {
        justify-content: space-between;
        gap: unset;
    }

    .function-container {
        width: auto;
    }

    .head-logo {
        height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .head-logo {
        height: 50px;
    }

    .profile-img {
        height: 50px;
        width: 50px;
    }
}


// min-width
@media screen and (min-width: 1700px) {
    header {
        gap: 8.5% !important;
    }
}

@media screen and (min-width: 1200px) {
    header {
        gap: 2.5%;
    }
}

@media screen and (min-width: 1400px) {
    header {
        gap: 5%;
    }
}