<span class="date-label" *ngIf="message">
    {{ message.postDay }}
</span>
<div class="message-container" (mouseover)="onHover()" (mouseleave)="onLeave()"
    [ngStyle]="{'flex-direction': isOwnMessage ? 'row-reverse' : 'none'}">
    <img *ngIf="user.image" class="avatar-icon" (click)="openMemberView($event)" src="{{ user.image }}"
        class="avatar-icon">
    <div class="message-box" [ngStyle]="{'align-items': isOwnMessage ? 'end' : 'start'}">
        <div class="message-header" [ngStyle]="{'flex-direction': isOwnMessage ? 'none' : 'row-reverse'}">
            <app-reaction-bar [isOwnMessage]="isOwnMessage"></app-reaction-bar>
            <div>
                <span (click)="openMemberView($event)" class="message-author">
                    {{ user.name }}
                </span>
                <span class="message-time" *ngIf="message">
                    {{ message.posthour }} Uhr
                </span>
            </div>
        </div>
        <div class="message-text" *ngIf="!isOwnMessage"
            [ngStyle]="{'background-color': isHovered ? 'white' : '#ECEEFE', 'border-top-right-radius': '30px'}">
            <p *ngIf="message">{{ message.text }}
            </p>
        </div>
        <div class="message-text" *ngIf="isOwnMessage"
            [ngStyle]="{'background-color': '#797EF3', 'color': 'white', 'border-top-left-radius': '30px'}">
            <p *ngIf="message">{{ message.text }}
            </p>
        </div>
        <div class="message-footer" [ngStyle]="{'flex-direction': isOwnMessage ? 'row-reverse' : 'none' }">
            <div class="gap">
                <span (click)="showThread()" class="message-answers">2 Antworten</span>
                <span class="message-time">Letzte Antwort 17:25 Uhr</span>
            </div>
            <div *ngIf="message" class="reactions">
                <p *ngFor="let smiley of message.reactions">{{ smiley }} <span>1</span></p>
                <div (click)="showEmojiPicker($event)" class="smiley-img">
                    <emoji-mart (emojiClick)="addEmoji($event)" #emoji *ngIf="viewEmojiPicker"
                        [style]="{ position: 'absolute', top: '50%', left: '50%', transform: 'translate(-50%, -50%)', 'z-index': '9' }">
                    </emoji-mart>
                </div>
            </div>
        </div>
    </div>
</div>