<div class="answer-container" (mouseover)="onHover()" (mouseleave)="onLeave()"
    [ngStyle]="{'flex-direction': isOwnAnswer ? 'row-reverse' : 'none'}">
    <img *ngIf="user.image" class="avatar-icon" (click)="openMemberView($event)" src="{{ user.image }}"
        class="avatar-icon">
    <div class="answer-box" [ngStyle]="{'align-items': isOwnAnswer ? 'end' : 'start'}">
        <div class="answer-header" [ngStyle]="{'flex-direction': isOwnAnswer ? 'row' : 'row-reverse'}">
            <div *ngIf="isHovered"
                [ngStyle]="{'border-radius': isOwnAnswer ? '25px 25px 0px 25px' : '25px 25px 25px 0px', 'flex-direction': isOwnAnswer ? 'none' : 'row-reverse'}"
                class="reaction-bar-container">
                <div (click)="showEmojiPicker($event)" class="smiley-img">
                </div>
                <div *ngIf="isOwnAnswer" (click)="showOption($event)" class="edit-img"></div>
                <span #edit *ngIf="viewOption" class="edit-answer" (click)="startEditing()">Nachricht bearbeiten</span>
            </div>
            <div>
                <span (click)="openMemberView($event)" class="answer-author">
                    {{ user.name }}
                </span>
                <span class="answer-time" *ngIf="answer">
                    {{ answer.posthour }} Uhr
                </span>
            </div>
        </div>
        <div class="answer-text" *ngIf="!isOwnAnswer"
            [ngStyle]="{'background-color': isHovered ? 'white' : '#ECEEFE', 'border-top-right-radius': '30px'}">
            <p *ngIf="answer" [innerHTML]="answer.text"></p>
        </div>
        <div class="answer-text" *ngIf="isOwnAnswer"
            [ngStyle]="{'background-color': '#797EF3', 'color': 'white', 'border-top-left-radius': '30px'}">
            <p *ngIf="answer" [innerHTML]="answer.text"></p>
        </div>
        <div class="answer-footer" [ngStyle]="{'flex-direction': isOwnAnswer ? 'row-reverse' : 'none' }">
            <div *ngIf="answer" class="reactions">
                <p *ngFor="let reaction of answer.reactions | keyvalue"
                    (click)="addEmoji({emoji: {native: reaction.key}})">
                    {{ reaction.key }}
                    <span *ngIf="isObjectWithCount(reaction.value)">{{ reaction.value.count }}</span>
                </p>
                <div (click)="showEmojiPicker($event)" class="smiley-img">
                    <emoji-mart (emojiClick)="addEmoji($event)" #emoji *ngIf="viewEmojiPicker"
                        [style]="{ position: 'absolute', top: '50%', left: '50%', transform: 'translate(-50%, -50%)', 'z-index': '9' }">
                    </emoji-mart>
                </div>
            </div>
        </div>
    </div>
</div>