<div class="login-container">
    <div class="flex-box">
        <div class="header-flex-box">
            <div class="arrow-img" (click)="toggleToLogin(); preventAnimation()"></div>
            <h1>Password zurücksetzen</h1>
        </div>
    </div>
    <p class="info-text">Bitte geben Sie ihre E-Mail-Adresse ein.</p>
    <form (submit)="checkEmailAndResetPassword(email)" ngNativeValidate>
        <input [(ngModel)]="email" name="email" required type="email" class="email" placeholder="beispielname@email.com"
            autocomplete="email" (input)="updateCursor()">
        <p class="send-text">Auf der nächsten Seite können Sie ihr neues Passwort eingeben.</p>
        <div class="dflex"><button class="next-button" [class.not-allowed]="inputEmpty">Weiter</button></div>
    </form>
</div>