<div class="d-flex">
    <div class="login-container">
        <div class="flex-box">
            <div class="arrow-img" (click)="toggleToLogin()"></div>
            <h1>Password zurücksetzen</h1>
        </div>
        <p class="info-text">Bitte geben Sie ihre E-Mail-Adresse ein.</p>
        <form (submit)="resetPassword()" ngNativeValidate>
            <input required type="email" class="email" placeholder="beispielname@email.com">
            <p class="info-text">Bitte geben Sie ihre E-Mail-Adresse ein.</p>
            <button class="next-button">E-Mail senden</button>
        </form>
    </div>
</div>