@import '../../../mixin.scss';

:host:hover .close-workspace-container {
    color: $purple1;

    svg {
        path {
            stroke: $purple1
        }

        rect {
            stroke: $purple1
        }
    }
}

.close-workspace-container {
    @include dFlex(space-around, center);
    height: 100%;
    width: 100%;
    font-weight: bold;
    transition: all ease .1s;

    svg {
        path {
            transition: all ease .1s;
            stroke: black;
        }
    }
}