:host(app-start-page) {
    width: 100%;
    height: 100%
}

body {
    background-color: #ECEEFE;
}

.content {
    position: relative;
    overflow-x: hidden;
}

.logo {
    width: 70px;
    height: 70px;
}

.logo-box {
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-top: 30px;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
}

.create-account {
    display: flex;
    flex-direction: column;
    margin-right: 46px;
    margin-top: 24px;

    >p {
        font-size: 18px;
    }

    >span {
        font-size: 18px;
        color: var(--purple2);
        text-align: center;
        padding: 4px 12px;

        &:hover {
            cursor: pointer;
            outline: 1px solid var(--lightPurple);
            border-radius: 25px;
            font-weight: 500;
            color: var(--purple1);
        }
    }
}

footer {
    font-size: 18px;
    color: var(--purple2);
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5%;

    >p {
        margin: 15px;
        padding: 4px 12px;

        &:hover {
            cursor: pointer;
            outline: 1px solid var(--lightPurple);
            border-radius: 25px;
            font-weight: 500;
            color: var(--purple1);
        }
    }
}

app-reset-password,
app-create-account {
    display: flex;
    justify-content: center;
}

@media(max-height: 970px) {
    footer {
        position: static;
        transform: unset;
    }
}

@media(max-height: 970px) {
    footer {
        margin-top: 30px;
    }
}

@media(max-width: 649px) {

    header {
        justify-content: center;
        height: 116px;
    }

    .logo-box {
        margin-left: 0;
    }

    .create-account {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-bottom: 24px;

        >span {
            outline: 1px solid var(--lightPurple);
            border-radius: 25px;
        }
    }

    footer {
        position: static;
        transform: unset;

        >p {
            outline: 1px solid var(--lightPurple);
            border-radius: 25px;
        }
    }
}

@media(max-width: 400px) {
    .create-account {
        >span {
            font-size: 16px;
        }

        >p {
            font-size: 16px;
        }
    }

    footer {
        font-size: 16px;
        margin-bottom: 16px;
    }
}