<header>
    <div class="logo-box">
        <img src="/assets/img/start-page/logo.svg" alt="logo" class="logo">
        <h1>DABubble</h1>
    </div>
    <div class="create-account" *ngIf="showLogin">
        <p>Neu bei DABubble?</p>
        <span (click)="toggleToCreateAccount()">Konto erstellen</span>
    </div>
</header>
<app-login *ngIf="showLogin"
[showResetPassword]="showResetPassword"
[showLogin]="showLogin"
(toggleStateResetPassword)="toggleToResetPassword()"></app-login>
<app-create-account  *ngIf="showCreateAccount"
[showLogin]="showLogin"
[showCreateAccount]="showCreateAccount"
(toggleState)="toggleToCreateAccount()"></app-create-account>
<app-reset-password *ngIf="showResetPassword" (toggleState)="toggleToLogin()"></app-reset-password>
<footer>
    <p>Impressum</p>
    <p>Datenschutz</p>
</footer>