app-thread-header {
    left: 0;
    position: absolute;
    height: 10%;
    display: flex;
    padding: 2rem 1.5rem;
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-sizing: border-box;
}