input {
    width: 989px;
    height: 70px;
    padding: 17.5px 45px 17.5px 45px;
    border-radius: 42px;
    font-size: 24px;
    font-weight: 400;
    color: black;
    box-sizing: border-box;

    &::placeholder {
        color: var(--textGray);
    }
}