<div class="absolute">
    <div class="login-container">
        <div class="flex-box">
            <div class="arrow-img" (click)="toggleToLogin()"></div>
            <h1>Password zurücksetzen</h1>
        </div>
        <form (submit)="setNewPassword()" ngNativeValidate>
            <input [(ngModel)]="email" name="email" required type="email" class="email" placeholder="Neues Passwort eingeben" autocomplete="email">
            <input [(ngModel)]="email" name="email" required type="email" class="email" placeholder="Neues Passwort bestätigen" autocomplete="email">            
            <button class="next-button">Passwort ändern</button>
        </form>
    </div>
</div>
<div class="mb"></div>