<div class="absolute">
    <div class="login-container">
        <div class="flex-box">
            <div class="arrow-img" (click)="toggleToLogin()"></div>
            <h1>Password zurücksetzen</h1>
        </div>
        <form (submit)="setNewPassword()" ngNativeValidate>
            <input [(ngModel)]="newPassword" name="newPassword" required type="password" class="email" placeholder="Neues Passwort eingeben" autocomplete="new-password">
            <input [(ngModel)]="confirmPassword" name="confirmPassword" required type="password" class="email" placeholder="Neues Passwort bestätigen" autocomplete="new-password">
            <button class="next-button">Passwort ändern</button>
          </form>
    </div>
</div>
<div class="mb"></div>