<div class="d-flex">
    <div class="login-container">
        <div class="flex-box">
            <div class="header-flex-box">
                <div class="arrow-img" (click)="toggleToLogin()"></div>
                <h1>Password zurücksetzen</h1>
            </div>
        </div>
        <form (submit)="setNewPassword()" ngNativeValidate>
            <input [(ngModel)]="newPassword" name="newPassword" required type="password" class="email"
                placeholder="Neues Passwort eingeben" autocomplete="new-password" (input)="checkPasswordMatch()">
            <input [(ngModel)]="confirmPassword" name="confirmPassword" required type="password" class="email"
                placeholder="Neues Passwort bestätigen" autocomplete="new-password" (input)="checkPasswordMatch()">
            <div class="dflex"><button class="next-button" [ngClass]="{'next-button-active': passwordsMatch}">Passwort
                    ändern</button></div>
        </form>
    </div>
</div>
<div class="success-report">
    <img src="./assets/img/start-page/send.svg" alt="send-image"> Passwort erfolgreich geändert
</div>