@import '../../../mixin.scss';

#workspace-header {
    @include dFlex(space-between, center);
    font-weight: 700;
    font-size: 24px;
    padding-top: 2rem;

    div:hover{
        cursor: default;
    }
}

#edit-square {
    path{
        transition: all ease .125s;
    } 

    &:hover {
        cursor: pointer;
        path {
            fill: $purple1;
        }
    }
}