@import './../../mixin.scss';

.dropdown {
    @include dFlex(space-between, center);
    position: relative;
    width: 100%;
    margin: 1rem
}

#plus {
    transform: scale(1.1);
    border-radius: 50%;
    transition: all ease .025s;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: $bgColor;

        path {
            fill: #4c5acb;
        }
    }
}

.exclude-flex {
    display: flex;
    position: absolute;
    left: 2rem;
    gap: 1rem
}