<app-imprint-privacy-header></app-imprint-privacy-header>

<div class="position-center">
    <div [routerLink]="['']" class="arrow-img"></div>
    <div class='privacy-policy-content'>
        <h1>Datenschutzerklärung</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga ipsam ab doloribus? Nisi adipisci, ex fugiat
            doloremque illo odit, hic doloribus similique aliquid vel inventore consequuntur optio? A, doloremque
            accusamus.
        </p>
    </div>
</div>