<app-head></app-head>
<div id="main-content" (click)="hideSearchList()">
    <app-workspace #WorkspaceComponent></app-workspace>
    <app-close-workspace (click)="handleWorkspace(); hideSearchList()"
        [workspaceOpen]="workspaceOpen"></app-close-workspace>
    <app-chat-container *ngIf="!isScreenSmall || !showThread"></app-chat-container>
    <app-thread *ngIf="showThread" [ngStyle]="(isScreenSmall && showThread) ? {'max-width': '100%'} : {}"></app-thread>
</div>
<app-overlay style="z-index: 200;" *ngIf="overlay"></app-overlay>