@import './../mixin.scss';

:host(app-main-page) {
    width: 100%;
    height: 100%;
}

app-workspace,
app-chat-container,
app-thread {
    @include container();
    @include scaleElement();
    position: relative;
}

#main-content {
    @include dFlex(space-evenly, flex-start);
    height: calc(90dvh - 6.5%);
    gap: 1rem;
    padding: 0 1rem;
}

app-workspace,
app-thread {
    min-width: 14rem;
    max-width: 20%;
    transition: all ease .25s;
}

app-chat-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all ease .25s;
}

app-overlay {
    position: absolute;
    @include scaleElement();
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
}

app-close-workspace {
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 50%;
    left: 0rem;
    z-index: 2;
    bottom: 0;
    margin: auto;
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 1rem;
    width: 15rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0 0 2rem 2rem;

    &:hover {
        cursor: pointer;
    }
}