<app-head></app-head>
<div id="main-content" (click)="hideSearchList()"
    [ngStyle]="(!mobileView && !showWorkspace && !showThread) ? {'width': '75%', 'margin': 'auto'} : {}"
    [ngStyle]="(!mobileView) ? {'width': 'unset'} : {}">
    <app-workspace *ngIf="showWorkspace || !mobileView" [ngStyle]="(mobileView) ? {'max-width': '100%'} : {}"
        #WorkspaceComponent></app-workspace>
    <app-close-workspace *ngIf="!mobileView" (click)="handleWorkspace(); hideSearchList()"
        [workspaceOpen]="workspaceOpen"></app-close-workspace>
    <app-chat-container *ngIf="(!isScreenSmall || !showThread) && (!showWorkspace || !mobileView)"></app-chat-container>
    <app-thread *ngIf="showThread && (!showWorkspace || !mobileView)"
        [ngStyle]="(isScreenSmall && showThread) ? {'max-width': '100%'} : {}"></app-thread>
</div>
<app-overlay *ngIf="overlay"></app-overlay>