<div class="user-mention">
    <ul>
        <h3>Mitglieder</h3>
        <li>
            <img src="../../../../../assets/img/general/avatars/avatar1.svg">
            <span>Laura Müller</span>
        </li>
        <li>
            <img src="../../../../../assets/img/general/avatars/avatar1.svg">
            <span>Laura Müller</span>
        </li>
        <li>
            <img src="../../../../../assets/img/general/avatars/avatar1.svg">
            <span>Laura Müller</span>
        </li>
        <li>
            <img src="../../../../../assets/img/general/avatars/avatar1.svg">
            <span>Laura Müller</span>
        </li>
    </ul>
</div>