<div #mention class="user-mention">
    <ul *ngIf="viewUser && ((!searchUser && !searchChannel) || (searchUser && !searchChannel))">
        <h3 class="margin-bottom">Mitglieder</h3>

        <li *ngFor="let member of filteredMembers" (click)="mentionUser(member.name)">
            <img src="{{member.avatar}}">
            <span>{{member.name}}</span>
        </li>
    </ul>

    <ul *ngIf="viewChannel && ((!searchChannel && !searchUser) || (searchChannel && !searchUser))" class="margin-top">
        <h3>Channels</h3>

        <li *ngFor="let channel of filteredChannelNames" (click)="mentionUser(channel)">
            <span># {{channel}}</span>
        </li>
    </ul>
</div>