@import '../../../mixin.scss';

div {
    font-weight: bold;
    font-size: 1.2rem;
}

.arrow-img {
    transition: all ease .1s;
}

.drop-down-list {
    transition: all ease .2s;
    overflow: hidden;
    height: 0px;
}

.drop-down-list-open{
    min-height: 5rem;
    height: auto
}


.dropdown {
    @include dFlex(flex-start, center);
    position: relative;
    width: 100%;
    gap: 2rem;
    margin-left: 24px;
    transition: all ease .5s;

    &:hover {
        svg {
            path {
                fill: $purple1;
            }
        }
    }
}

.list {
    margin-left: 2rem;
    padding:0 1rem 0 0.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 14px;

    &:hover {
        color: var(--purple1);
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 30px;
    }
}

.profile-image {
    width: 50px;
    height: 50px;
}