@import './../../../mixin.scss';

.inline {
    display: flex;
    align-items: center;
    gap: .5rem
}

span {
    margin: 0 .5rem
}

div {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

.input-field {
    border: 1px solid var(--lightPurple);
    border-radius: 30px;
    padding: 14px 16px;
    width: 100%;
    box-sizing: border-box;
    transition: all ease .25s;
    font-size: 18px;
    font-weight: 400;

    &:hover {
        border-color: $lightPurple2;
    }

    &:focus-within {
        border-color: $purple2;
    }

    input,
    textarea {
        width: 92%;
        border: unset;
        outline: unset;
        font-size: 18px;
        font-weight: 400;
    }

    textarea {
        width: 96%;
        resize: none;
    }
}

#description {
    margin-left: 8px;
}

form {
    display: flex;
    flex-direction: column;

    button {
        margin-top: 1.5rem;
        margin-left: -4px;
        padding: 8px 21px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        align-self: flex-end;
        border: unset;
        transition: all ease .1s;
        background-color: $purple2;
        color: white;

        &:not(:disabled):hover {
            cursor: pointer;
            background-color: $purple3;
        }

        &:active {
            background-color: $purple1 !important;
        }


        &:disabled {
            color: rgba(0, 0, 0, 0.3);
            background-color: var(--lighterPurple);
            border: 2px solid var(--lightPurple);
        }
    }
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 2rem;
    background-color: transparent;
    transition: all ease .1s;
    border: unset;
    @include dFlex(center, center);
    transform: scale(1.1);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    &:hover {
        background-color: $bgColor;
        cursor: pointer;

        #cross {
            transform: scale(1.1);

            path {
                fill: $purple1;
            }
        }
    }
}

.workspace-overlay {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 40px;
    height: fit-content;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.hint {
    text-align: center;
    color: var(--rosaError);
    margin: 8px 0;
}


// max-width
@media screen and (max-width: 900px) {
    .workspace-overlay {
        width: 78%;
    }
}

@media screen and (max-width: 600px) {
    .workspace-overlay {
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
}

@media screen and (max-width: 460px) {
    .input-field {
        font-size: 16px;
        padding: 10px 12px;

        input,
        textarea {
            font-size: 16px;
        }

        input {
            width: 88%;
        }
    }
}