.content-container {
    padding: 48px 72px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
    gap: 8px;

    >span {
        font-size: 20px;
        font-weight: 400;
        margin-right: 155px;
        margin-bottom: 14px;
    }
}

.d-flex {
    display: flex;
    justify-content: center;
}

.flex-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    >img {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        left: 36%;
        object-fit: cover;

        &:hover {
            outline: 4px solid rgba(0, 0, 0, 0.1) !important;
            cursor: pointer;
        }
    }
}

.arrow-img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-image: url("../../../../assets/img/start-page/arrow-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover {
        background-image: url("../../../../assets/img/start-page/arrow-hover.svg");
    }
}

.header-flex-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

h1 {
    color: var(--purple1);
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.name {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-icons {
    display: flex;
    gap: 10px;

    >img {
        cursor: pointer;
        border-radius: 50%;
        height: 50px;
        width: 50px;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            outline: 3px solid rgba(0, 0, 0, 0.1) !important;
        }
    }
}

.choose-own-img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 24px;

    >span {
        font-size: 20px;
        font-weight: 400;
    }

    >button {
        color: var(--purple1);
        border-radius: 25px;
        padding: 5px 7px;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        border: 1px solid var(--purple1);
        background-color: white;

        &:hover {
            background-color: var(--purple1);
            color: var(--bgColor);
        }
    }
}

.next-btn {
    background-color: var(--purple1);
    border-radius: 25px;
    padding: 5px 10px;
    color: var(--bgColor);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 285px;
    border: 1px solid var(--purple1);

    &:hover {
        background-color: var(--purple2);
        border: 1px solid var(--purple2);
    }
}

.success-report {
    border-radius: 30px 30px 0px 30px;
    background-color: var(--purple1);
    color: white;
    font-size: 26px;
    padding: 36px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 3%;
    translate: 140% -20%;
    transition: all 125ms ease-in-out;
    z-index: 1;
}

.file {
    display: none;
}

.warning-container {
    background-color: white;
    border-radius: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    span {
        color: var(--rosaError);
        font-size: 23px;

    }

    .save-btn {
        width: min-content;
        color: white;
        font-size: 18px;
        font-weight: 500;
        height: 49px;
        padding: 12px 25px;
        border-radius: 50px;
        background-color: var(--purple1);
        border: 0;

        &:hover {
            cursor: pointer;
            background-color: var(--purple2);
        }
    }
}

@media (max-height: 800px) {
    .content-container {
        margin-bottom: 80px;
    }
}

@media(max-width: 650px) {
    .content-container {
        width: 88%;
        padding: 48px 10px;
        margin-bottom: 90px;
    }

    .warning-container {
        width: 68%;
        padding: 30px;
    }
}

@media(max-width: 430px) {
    h1 {
        font-size: 30px;
    }

    .success-report {
        font-size: 24px;
        padding: 25px;
    }
}

@media(max-width: 420px) {
    .choose-own-img {
        gap: 10px;
    }

    .next-btn {
        margin-left: 227px;
    }
}

@media(max-width: 400px) {
    .content-container {
        width: 86%;
    }

    .flex-box {
        >img {
            width: 100px;
            height: 100px;
        }
    }

    .name {
        font-size: 26px;
    }

    .content-container {
        >span {
            font-size: 16px;
        }
    }

    .choose-own-img {
        >span {
            font-size: 15px;
        }

        >button {
            font-size: 15px;
        }
    }

    .next-btn {
        font-size: 16px;
    }

    .profile-icons {
        gap: 5px;

        >img {
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-width: 368px) {
    .header-flex-box {
        align-items: start;
    }

    .arrow-img {
        margin-top: 8px;
    }

    .content-container {
        >span {
            margin-right: 136px;
        }
    }
}

@media(max-width: 340px) {
    .choose-own-img {
        gap: 4px;

        >button {
            padding: 3px 3px;
        }
    }

    .content-container {
        >span {
            margin-right: 128px;
        }
    }

    .next-btn {
        margin-left: 212px;
    }

    .success-report {
        font-size: 22px;
    }
}