<div class="chat-container-header">
    <div class="chat-head-title">
        <img src="./../../../../assets/img/main-page/chat/tag.svg">
        <span>
            test
        </span>
        <img src="./../../../../assets/img/main-page/chat/arrow_down.svg">
    </div>
    <div class="chat-head-members">
        <div class="member-icons">
            <img src="../../../../assets/img/general/avatars/avatar1.svg" style="right: 50px">
            <img src="../../../../assets/img/general/avatars/avatar2.svg" style="right: 25px">
            <img src="../../../../assets/img/general/avatars/avatar3.svg">
        </div>
        3
        <img src="../../../../assets/img/main-page/chat/add-members-button.svg">
    </div>
</div>
