@import './../../../mixin.scss';

.chat-container-header {
    @include dFlex(space-between, center);
    color: black;
    padding: 0 1.5rem; 
}

.chat-head-title {
    @include dFlex();
    gap: 10px;

    &:hover {
        @include hoverEffect();

        img {
            filter: invert(35%) sepia(30%) saturate(7474%) hue-rotate(229deg) brightness(96%) contrast(97%);
            transition: ease-in 150ms;
        }
    }

    img {
        height: 32px;
    }

    span {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        font-weight: 700;
    }
}

.chat-member-section {
    @include dFlex();
    gap: 10px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.chat-head-members {
    @include dFlex();
    gap: 10px;

    &:hover {
        @include hoverEffect();
    }
}

.member-icons {
    @include dFlex();

    img {
        height: 30px;
        border-radius: 100%;
        border: 1px solid white;
    }
}

.add-member-button {
    height: 30px;
    max-height: 30px;

    &:hover {
        transition: ease-in 150ms;
        cursor: pointer;
    }
}