<div class="chat-container-header">
    <app-edit-channel-overlay *ngIf="editChannel" class="edit-channel-overlay"></app-edit-channel-overlay>
    <div class="chat-head-title" (click)="openEditChannelOverlay()">
        <img  src="assets/img/main-page/chat/tag.svg">
        <span>
            test
        </span>
        <img src="assets/img/main-page/chat/arrow_down.svg">
    </div>
    <div class="chat-member-section">
        <app-members-overlay *ngIf="showMembers"></app-members-overlay>
        <div class="chat-head-members" (click)="openMembersOverlay($event)">
            <div class="member-icons">
                <img src="assets/img/general/avatars/avatar1.svg">
                <img src="assets/img/general/avatars/avatar2.svg" style="right: 0;">
                <img src="assets/img/general/avatars/avatar3.svg">
            </div>
            <span>3</span>
        </div>
        <app-add-member-overlay *ngIf="showAddMember"></app-add-member-overlay>
        <img class="add-member-button" [src]="imgSrc"
        (mouseover)="imgSrc = 'assets/img/main-page/chat/add-members-button-hover.svg'"
        (mouseleave)="imgSrc = 'assets/img/main-page/chat/add-members-button.svg'"
        (click)="openAddMemberOverlay($event)">
    </div>
</div>