<!-- direct-messages-style -->
<app-chat-message *ngIf="!DMService.showPrivateChat"></app-chat-message>
<app-chat-message *ngIf="!DMService.showPrivateChat"></app-chat-message>
<app-chat-message *ngIf="!DMService.showPrivateChat"></app-chat-message>
<app-chat-message *ngIf="!DMService.showPrivateChat"></app-chat-message>
<div *ngIf="DMService.showPrivateChat"><app-chat-message></app-chat-message>
</div>
  <!-- channel-messages-style -->
<app-chat-message style="background-color: yellow;" *ngFor="let message of messages" [message]="message" [isOwnMessage]="false"></app-chat-message>
