<!-- channel-messages-style -->
<div *ngIf="this.selectionService.channelOrDM.value === 'channel'" class="channel-message-container">
  <app-chat-message [isOwnMessage]="false" *ngFor="let message of messages"
    [message]="message"></app-chat-message>
</div>
<!-- direct-messages-style -->
<div *ngIf="this.selectionService.channelOrDM.value === 'direct-message'" class="channel-message-container" #chatList>
  <app-private-message *ngFor="let message of DMService.chatMessages" [message]="message"></app-private-message>
</div>
