<div class="edit-container" #editProfile>
    <div class="space-between">
        <h1>Dein Profil bearbeiten</h1>
        <div (click)="close()" class="cross-img"></div>
    </div>
    <div class="user-img-container">
        <img [src]="this.auth.userImage">
    </div>
    <div class="label-container">
        <img src="assets/img/general/account.svg">
        <span>Vollständiger Name</span>
    </div>
    <input type="text" [value]="this.auth.userName" #nameInput>
    <div class="label-container">
        <img src="assets/img/general/mail.svg">
        <span>E-Mail-Adresse</span>
    </div>
    <input type="text" [value]="this.auth.userMail" #emailInput>
    <div class="btn-container">
        <button class="cancel-btn" (click)="close()">Abbrechen</button>
        <button class="save-btn" (click)="updateUserProfile()">Speichern</button>
    </div>
</div>