.edit-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 40px 35px;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.error-message {
    color: var(--rosaError);
}

.cross-img {
    width: 40px;
    height: 40px;
    background-image: url('../../../../assets/img/main-page/thread/cross.svg');
    transition: all ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        background-image: url('../../../../assets/img/main-page/thread/cross-hover.svg');
    }
}

.user-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0 32px 0;

    img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.file {
    display: none;
}

.label-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 18px 0 6px 0;

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

input {
    color: black;
    font-size: 18px;
    font-weight: 500;
    height: 22px;
    border-radius: 30px;
    border: 1px solid #ADB0D9;
    padding: 15px 20px 15px 20px;
    width: 80%;
    outline: none;

    &:focus {
        border: 1px solid var(--purple1);
    }

    &::placeholder {
        color: var(--textGray);
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    gap: 22px;
}

.cancel-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    height: 49px;
    color: var(--purple1);
    background-color: white;
    border-radius: 50px;
    border: 1px solid var(--purple2);

    &:hover {
        cursor: pointer;
        color: white;
        background-color: var(--purple1);
    }
}

.save-btn {
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    padding: 12px 25px;
    border-radius: 50px;
    background-color: var(--purple1);
    border: 0;

    &:hover {
        cursor: pointer;
        background-color: var(--purple2);
    }
}

.add-btn-disabled {
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    padding: 12px 25px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.3);
    background-color: var(--lighterPurple);
    border: 2px solid var(--lightPurple);

    &:hover {
        cursor: pointer;
    }
}

.error {
    border: 1px solid var(--rosaError);
}


@media screen and (max-width: 900px) {
    .edit-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 480px) {
    .edit-container {
        padding: 25px 20px;
        min-width: auto;
        width: 78%;
    }

    .user-img-container img {
        width: 170px;
        height: 170px;
    }

    .btn-container {
        gap: 10px;
    }

    .save-btn,
    .cancel-btn,
    .add-btn-disabled {
        padding: 6px 16px;
    }
}