<div class="edit-container" #editProfile>
    <div class="space-between">
        <h1>Dein Profil bearbeiten</h1>
        <div (click)="close()" class="cross-img"></div>
    </div>
    <div class="user-img-container">
        <input class="file" type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput>
        <img [class.error]="nothingChangedError" (click)="fileInput.click()" [src]="this.auth.userImage">
    </div>
    <div class="label-container">
        <img src="assets/img/general/account.svg">
        <span>Vollständiger Name</span>
    </div>
    <form (ngSubmit)="updateUserProfile()" ngNativeValidate (keydown.enter)="$event.preventDefault(); updateUserProfile()">
        <input [ngStyle]="{'margin-bottom': enterFullNameError ? '8px' : '0'}"
            [class.error]="nothingChangedError || enterFullNameError" required type="text" [value]="this.auth.userName"
            #nameInput minlength="5" maxlength="18" (input)="checkForChanges()">
        <span *ngIf="enterFullNameError" class="error-message">Bitte geben Sie Vor- und Nachnamen ein.</span>
        <div class="label-container">
            <img src="assets/img/general/mail.svg">
            <span>E-Mail-Adresse</span>
        </div>
        <input [ngStyle]="{'margin-bottom': nothingChangedError || wrongEmail ? '8px' : '0'}"
            [class.error]="nothingChangedError || wrongEmail" required type="text" [value]="this.auth.userMail"
            #emailInput minlength="5" maxlength="30" (input)="checkForChanges()">
        <span *ngIf="nothingChangedError" class="error-message">Bitte mindestens eine Änderung vornehmen.</span>
        <span *ngIf="wrongEmail" class="error-message">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
        <div class="btn-container">
            <button class="cancel-btn" (click)="close()">Abbrechen</button>
            <button [ngClass]="{'save-btn': userChangeValid, 'add-btn-disabled': !userChangeValid}"
                class="save-btn">Speichern</button>
        </div>
    </form>
</div>