.background {
    background-image: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.middle-layer {
    background-image: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    width: calc(50vw - 100px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.front-layer {
    background: transparent;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    animation: moveLeft 0.8s ease-in-out 0s forwards;
}

.text {
    color: white;
    font-size: 72px;
    font-weight: 700;
    color: white;
    transition: left 2s ease-in;
    animation: slideText 0.5s ease-in-out 1s forwards;
    overflow: hidden;
}

.endLogo {
    width: 480px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: endMove 0.6s ease-in-out 0s forwards;
}


@keyframes endMove {

    0% {
        opacity: 1;
    }

    30% {
        width: 380px;
    }

    60% {
        width: 300px;
    }

    80% {
        opacity: 1;
        width: 250px;
    }

    100% {
        opacity: 0;
        width: auto;
        top: 39px;
        left: 45px;
        transform: none;
    }
}

@keyframes moveLeft {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200px);
    }
}

@keyframes slideText {

    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(30vw - 70px));
    }

    75% {
        transform: translateX(calc(40vw - 80px));
    }

    100% {
        transform: translateX(calc(50vw - 80px));
    }
}

@media(max-width: 900px) {
    .logo {
        width: 150px;
        height: 150px;
    }

    .text {
        font-size: 60px;
    }
}

@media(max-width: 780px) {
    .logo {
        width: 130px;
        height: 130px;
    }

    .text {
        font-size: 52px;
    }
}

@media(max-width: 700px) {
    .logo {
        width: 110px;
        height: 110px;
    }

    .text {
        font-size: 44px;
    }
}

@media(max-width: 649px) {
    .endLogo {
        animation: endMoveMobile 0.6s ease-in-out 0s forwards;
    }
}

@media(max-width: 630px) {
    .text {
        font-size: 34px;
    }

    .logo {
        width: 90px;
        height: 90px;
    }

    .logo {
        animation: moveLeftMobile 0.8s ease-in-out 0s forwards;
    }
}

@media(max-width: 540px) {
    .text {
        animation: slideTextMobile 0.5s ease-in-out 1s forwards;
    }

    .middle-layer {
        padding-right: 40px;
    }
}

@media(max-width: 450px) {
    .logo {
        animation: moveLeftPhone 0.8s ease-in-out 0s forwards;
    }

    .text {
        animation: slideTextPhone 0.5s ease-in-out 1s forwards;
    }

    .middle-layer {
        padding-right: 80px;
    }
}

@media(max-width: 370px) {
    .logo {
        width: 75px;
        height: 75px;
    }

    .text {
        font-size: 28px;
    }

    .middle-layer {
        padding-right: 70px;
    }
}

@media(max-width: 330px) {
    .middle-layer {
        padding-right: 75px;
    }
}